question = $('.question');
question.find('.errors').html("");
<% if @question.errors.any? %>
  <% @question.errors.full_messages.each do |msg|  %>
    question.find('.errors').prepend("<p><%= msg %></p>");
  <% end  %>
<% else  %>
  question.html("<%= j render 'question_form' %>");
<% end %>
