$error_field = $("<%= raw @comment_decorator.error_field %>");
$error_field.html('');
<% if @comment_decorator.errors.present? %>
  <% @comment_decorator.errors.full_messages.each do |msg|  %>
    $error_field.append("<p><%= msg %></p>");
  <% end %>
<% else %>
  <% publish_to "#{@comment_decorator.publish_url}" do %>
    $comments = $("<%= raw @comment_decorator.comment_field %>");
    $comments.find('.list-group').append("<%= j render partial: 'comment', locals: {comment: @comment_decorator} %>");
    $comments.find('.comment-form').html('');
  <% end %>
<% end %>