error_field = $('form#new_answer').find('.errors');
error_field.html('');
<% if @answer.errors.any? %>
  <% @answer.errors.full_messages.each do |msg| %>
    error_field.html("<p><%= msg %></p>");
  <% end  %>
<% else %>
  $('ul.list-group.answers').append("<%= j render @answer %>");
  $('form#new_answer #answer_body').val('');
  new_answer_html = $("<%= j render partial: 'form', locals: {answer: Answer.new }%>");
  $('.box.answer').replaceWith(new_answer_html);
<% end %>
