answer = $("div[data-id='<%= @answer.id %>']");
answer.find('.answer-errors').html("");
<% if @answer.errors.any? %>
  <% @answer.errors.full_messages.each do |msg|  %>
    answer.find('.answer-errors').prepend("<p><%= msg %></p>");
  <% end  %>
<% else  %>
  html = $("<%= j render @answer %>");
  answer.html(html.children());
<% end %>

